<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
            background-color: rgb(207, 205, 205);
        }
        h1{
            color: rgb(6, 6, 6);
        }
        div{
            color: rgb(13, 13, 14);
            text-size-adjust: 500px;
        }
        .path{
            color: rgb(16, 16, 15);
            
        }
        .sorting{
            color: rgb(12, 12, 12);
        }
        .search{
            color: rgb(8, 8, 8);
        }
        .btn{
            text-align: center;

        }
    </style>
     <link rel="stylesheet" href=
     "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         <script src=
     "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
         </script>
         <script src=
     "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
         </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../index.html">
                    Algo<span>Visualization </span>  </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="../index.html">Home</a></li>
                <li><a href="../templates/searching.html">Searching</a></li>
                <li><a href="../templates/sort.html">Sorting</a></li>
                <li><a href="../templates/queen.html">Nqueen</a></li>
            </ul>
        </div>
    </nav>
    <h1> This is a Algorithm Visualization website.</h1>
    <div>
       This is a Algorithm Visualization website here are many algorithms which so Visualize easily for better understanding and Visualization.
    </div>
    <br>
    <div class="path">
        ## Pathfinding Algorithms<br>

        * Breadth First Search<br>
        * Depth First Search<br>
        * Best First Search<br>
        * Dijkstra Algorithm<br>
        * Astar Algorithm<br>
    </div>
    <br>
    <div class="sorting">
        ## Sorting Algorithms<br>
        
        * Bubble Sort<br>
        * Selection sort<br>
        * Insertion sort<br>
        * mergeSort<br>
        * QuickSort<br>
    </div>
    <br>
    <div class="search"> ## Searching Algorithms<br>
        * Linear Search<br>
        * Jump Search<br>
        * Binary Search<br>
        * Exponential Search<br>
    </div>
</body>
</html>